@charset "UTF-8";
/* FONT */
@import url(carousel.css);
@font-face {
  font-family: 'code_boldregular';
  src: url("./fonts/code_bold-webfont.eot");
  src: url("./fonts/code_bold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/code_bold-webfont.woff2") format("woff2"), url("./fonts/code_bold-webfont.woff") format("woff"), url("./fonts/code_bold-webfont.ttf") format("truetype"), url("./fonts/code_bold-webfont.svg#code_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'code_lightregular';
  src: url("./fonts/code_light-webfont.eot");
  src: url("./fonts/code_light-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/code_light-webfont.woff2") format("woff2"), url("./fonts/code_light-webfont.woff") format("woff"), url("./fonts/code_light-webfont.ttf") format("truetype"), url("./fonts/code_light-webfont.svg#code_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cambria-Italic';
  src: url("./fonts/Cambria-Italic.eot");
  src: url("./fonts/Cambria-Italic.eot") format("embedded-opentype"), url("./fonts/Cambria-Italic.woff") format("woff"), url("./fonts/Cambria-Italic.ttf") format("truetype"), url("./fonts/Cambria-Italic.svg#code_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* VARIABLE */
/*fonts*/
/*colors*/
/* GLOBAL */
.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.dark-color {
  color: #412f3f;
}

.bright-color {
  color: #ff6852;
}

.light-color {
  color: #f7f2ea;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-flex {
  display: inline-flex;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.italic {
  font-style: italic;
}

.light-font {
  font-family: "code_lightregular";
  letter-spacing: 7px;
}

.bold-font {
  font-family: "code_boldregular";
  letter-spacing: 7px;
}

.hide {
  display: none !important;
}

section {
  text-align: center;
}

a {
  text-decoration: none;
  position: relative;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul, ol {
  padding: 0;
}

h1 {
  font-size: 18px;
  text-align: center;
  font-family: "code_boldregular";
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: -14px;
  color: #412f3f;
  margin-left: 6px;
}

h2 {
  font-size: 16px;
  color: #412f3f;
  text-align: center;
  margin: 0px;
}

img.half {
  width: 50%;
}

body {
  font-family: "Cambria-Italic";
  font-size: 16px;
  color: #f7f2ea;
}

button {
  border: none;
}

.no-margin {
  margin: 0 auto;
}

textarea {
  overflow: auto;
  border: none;
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
  background-color: rgba(247, 242, 234, 0.5);
  color: #000;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Cambria-Italic";
}

input {
  background-color: rgba(247, 242, 234, 0.5);
  width: 217px;
  height: 39px;
  border-radius: 2px;
  margin: 4px auto;
  font-family: "code_boldregular";
  color: #412f3f;
  text-align: left;
  border: 1px solid #f7f2ea;
  display: block;
  margin-bottom: 50px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 7px;
}
input:focus {
  border: none;
  border: 1px solid #ff6852;
}

.container {
  max-width: 560px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 400px;
}

.wrapper {
  height: 567px;
}

.container-small {
  max-width: 380px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

main.param {
  background: url("../img/fond_back.jpg") no-repeat 0 0 transparent;
  position: fixed;
  background-size: cover;
}

main.discover {
  height: 567px;
  overflow: hidden;
}

main.intro {
  background: url("../img/fond_back.jpg") no-repeat 0 0 transparent;
  position: fixed;
  background-size: cover;
}

main.memories {
  position: fixed;
  background-size: cover;
}

.logo img {
  width: 40%;
  padding-left: 6px;
}

.tutoriel .logo img {
  width: 25%;
  padding-left: 6px;
}

.memories .full-img {
  background: url("../img/back.png") no-repeat 0 0 transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 567px;
  width: 100%;
  position: absolute;
}

.progress-bar {
  background-color: #f7f2ea;
  height: 6px;
  width: 80%;
  margin: auto;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}
.progress-bar .bar {
  background-color: #412f3f;
  height: 6px;
  width: 12.5%;
  border-radius: 6px;
  position: absolute;
  transition: width 0.5s ease;
}

.btn {
  background-color: #f7f2ea;
  font-family: "code_boldregular";
  text-transform: uppercase;
  letter-spacing: 6px;
  border-radius: 2px;
  color: #412f3f;
  font-size: 18px;
  width: 160px;
  height: 25px;
  text-align: center;
  padding-left: 11px;
  padding-top: 11px;
  padding-bottom: 2px;
  margin: 10px auto;
  display: block;
  box-shadow: 0px 5px 0px 0px rgba(247, 242, 234, 0.5);
}

.param .btn {
  font-size: 16px;
  margin: 30px auto;
  width: 215px;
}

.btn-next:active {
  background-color: #ff6852;
  box-shadow: none;
  margin-top: 25px;
}

.memories .btn-next,
.btn#add {
  position: absolute;
  left: 25%;
}

.page {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 415px;
  text-align: center;
  transition: all 0.5s ease;
  transform: translate3d(100%, 0, 0);
}

.page.go-next {
  transform: translate3d(-100%, 0, 0);
}

.page.is-visible {
  transform: translate3d(0, 0, 0);
}

/*HEADER */
header {
  position: fixed;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  z-index: 500;
  margin-top: 13px;
}
header img {
  width: 5%;
}
header p {
  margin-top: 0;
}
header .btn-prev img {
  width: 50%;
}

.add header {
  width: 95%;
  left: 9px;
  z-index: 2;
}
.add header img {
  width: 45%;
}
.add header .left,
.add header .right {
  width: 7%;
  margin-top: -3px;
}

.add .center {
  padding-top: 200px;
}
.add .center p {
  margin-bottom: 30px;
}
.add .center .btn-diamond {
  margin-top: 0px !important;
}
.add .center .btn-diamond img {
  max-width: 80%;
  padding-right: 4px;
}
.add .more {
  z-index: 2;
}
.add .more p {
  margin-bottom: 0px;
}

.btn-diamond.send img {
  padding-top: 8px;
}

.memories .btn-diamond {
  margin-bottom: 0;
}

#add-picture {
  margin-top: 64px;
  margin-bottom: 23px;
}

/* TUTORIEL PAGE */
.tutoriel {
  margin: auto;
}
.tutoriel header {
  height: 80px;
}
.tutoriel div.item {
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  box-sizing: border-box;
  padding: 20px;
  width: 230px;
  height: 312px;
  margin: auto;
  border-radius: 2px;
}
.tutoriel div.item .uppercase {
  letter-spacing: 6px;
  font-size: 18px;
  margin: 5px 0;
}
.tutoriel div.item .uppercase.margin {
  margin-top: 22px;
}
.tutoriel div.item img {
  width: 60%;
  margin: 6px auto;
}
.tutoriel div.item.item1 .margin {
  margin: 22px auto;
  margin-top: 24px;
  margin-bottom: 6px;
}
.tutoriel div.item.item2 .margin {
  margin: 0;
}
.tutoriel div.item.item2 img {
  margin: 18px auto;
}
.tutoriel div.item.item3 .margin {
  margin-top: 0;
}

.tutoriel .full-img {
  background: url("../img/fond_back.jpg") no-repeat 0 0 transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 567px;
  width: 100%;
  position: absolute;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
  padding: 5px;
  top: -2px;
  left: -2px;
}

.add .full-img {
  background: url("../img/back.png") no-repeat 0 0 transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 567px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.add .old .full-img {
  background: url("http://www.noemiediaz.fr/kazoku/upload/img1.jpg") no-repeat 0 0 transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 567px;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.add .old .btn-diamond {
  margin: 240px 25px;
}
.add .old .btn-diamond img {
  width: 70%;
}

.add .old .overlay {
  background: url("../img/old_remember.png") no-repeat 0 0 transparent;
  background-size: cover;
  position: absolute;
  height: 567px;
  width: 100%;
}

.owl-carousel {
  margin-top: 129px;
}

.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  background-color: #f7f2ea;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 7px;
}
.owl-dots .owl-dot.active {
  background-color: #412f3f;
}

/*FORM*/
form {
  position: relative;
  height: 85%;
}

.btn-close {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 50px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
}

.btn-close a {
  display: block;
  position: absolute;
  top: 5px;
  left: 16px;
  right: 16px;
  height: 2px;
}

.btn-close a:before, .btn-close a:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7f2ea;
  content: "";
}

.btn-close > a:before {
  top: 0;
  transform: rotate(45deg);
}

.btn-close > a:after {
  bottom: 0;
  transform: rotate(-45deg);
}

form p {
  color: #ff6852;
  font-family: "Cambria-Italic";
  margin-bottom: 35px;
}

.btn-icon {
  width: 87px;
  height: 60px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 6px 6px 6px 6px;
  line-height: 60px;
  position: relative;
}

.btn-icon img {
  width: 50%;
  vertical-align: middle;
}

.btn-icon#photo img,
.btn-icon#video img {
  width: 70%;
}

.btn-icon.active {
  background-color: #ff6852;
  box-shadow: 0px 5px 0px 0px rgba(255, 104, 82, 0.5);
}

.btn-icon.active:after {
  content: '';
  position: absolute;
  overflow: hidden;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 14px solid #ff6852;
}

.btn-icon-snd {
  background-color: rgba(247, 242, 234, 0.7);
  width: 215px;
  height: 45px;
  margin: 18px auto;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "code_boldregular";
  line-height: 48px;
  color: #412f3f;
  text-align: left;
  text-indent: 30px;
}

label.btn-icon-snd {
  display: block;
}

.btn-icon-snd img {
  width: 35px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -3px;
}

.btn-emotion-container,
.btn-sphere-container {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.btn-circle {
  background-color: #f7f2ea;
  display: inline-block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  color: #412f3f;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  font-family: "code_boldregular";
  position: absolute;
}

.btn-sphere {
  top: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
  transition: transform 2s ease, opacity 0.5s ease;
}

.btn-emotion {
  transform: scale(0.1);
  opacity: 0;
  transition: transform 2s ease, opacity 0.5s ease;
}

.btn-choice.active,
.btn-sphere.active {
  background-color: #ff6852;
}

.btn-emotion img,
.btn-sphere img {
  width: 50%;
  margin: 20px 0px 4px 0px;
}

.btn-sphere#familial img {
  width: 39%;
  margin: 16px 0px 2px 0px;
}

.btn-sphere#amour img {
  width: 40%;
  margin-top: 25px;
}

.btn-emotion#joie {
  left: 50%;
  top: 55%;
  background: url("../img/icons/joie.svg") #f7f2ea no-repeat center;
  background-size: 50%;
}

.btn-emotion#joie.active {
  background: url("../img/icons/joie_hover.svg") #f57e4a no-repeat center;
  background-size: 50%;
}

.btn-emotion#colere {
  top: 0%;
  left: 38%;
  background: url("../img/icons/colere.svg") #f7f2ea no-repeat center;
  background-size: 50%;
}

.btn-emotion#colere.active {
  background: url("../img/icons/colere_hover.svg") #973342 no-repeat center;
  background-size: 50%;
}

.btn-emotion#triste {
  top: 24%;
  left: 65%;
  background: url("../img/icons/tristesse.svg") #f7f2ea no-repeat center;
  background-size: 50%;
}

.btn-emotion#triste.active {
  background: url("../img/icons/tristesse_hover.svg") #3a384f no-repeat center;
  background-size: 50%;
}

.btn-emotion#surprise {
  top: 44%;
  left: 20%;
  background: url("../img/icons/surprise.svg") #f7f2ea no-repeat center;
  background-size: 50%;
}

.btn-emotion#surprise.active {
  background: url("../img/icons/surprise_hover.svg") #f5be49 no-repeat center;
  background-size: 50%;
}

.btn-emotion#doute {
  top: 20%;
  left: 13%;
  background: url("../img/icons/doute.svg") #f7f2ea no-repeat center;
  background-size: 50%;
}

.btn-emotion#doute.active {
  background: url("../img/icons/doute_hover.svg") #796178 no-repeat center;
  background-size: 50%;
}

.first-choice {
  transition: all 0.5s ease-out;
  transform: translateY(100px);
}

.second-choice {
  transition: transform 0.2s ease;
  transition: opacity 2s ease;
  transform: translateY(500px);
  opacity: 0;
}

#add-picture,
#edit {
  display: none;
}

.container-picture-preview {
  display: block;
  width: 100%;
  height: 60%;
  position: absolute;
  overflow: hidden;
}
.container-picture-preview .picture-preview {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: block;
  width: 100%;
  margin: 0;
}
.container-picture-preview .picture-preview#picture-preview-snd {
  width: 50%;
  float: right;
}

.btn-diamond {
  background-color: #f7f2ea;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 0px;
  transform: rotate(45deg);
  box-shadow: 7px 7px 0px 0px rgba(247, 242, 234, 0.5);
  text-align: center;
  line-height: 50px;
  display: inline-block;
  margin-top: 130px;
  margin-bottom: 155px;
  margin-left: auto;
  margin-right: auto;
}

.front .btn-diamond {
  margin: 25px;
}

.btn-diamond img {
  width: 50%;
  vertical-align: middle;
  transform: rotate(-45deg);
}

.btn-share {
  background-color: rgba(247, 242, 234, 0.7);
  box-shadow: none;
  border: 2px solid #f1e9e0;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 25px;
  position: relative;
}

.btn-share:after {
  content: '✕';
  color: #ff6852;
  vertical-align: middle;
  position: absolute;
  top: -3px;
  left: 6px;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.btn-share.active:after {
  transform: scale(1);
}

.btn-choice {
  background-color: rgba(247, 242, 234, 0.7);
  font-family: "Cambria-Italic";
  line-height: 100px;
  text-transform: none;
  left: 36%;
  letter-spacing: initial;
  font-size: 16px;
}
.btn-choice.date {
  top: 25%;
}
.btn-choice.sphere {
  top: 37%;
  left: 17%;
}
.btn-choice.emotion {
  top: 49%;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}

/* styles du retour visuel */
.file-return {
  margin: 0;
}

.file-return:not(:empty) {
  margin: 1em 0;
}

/* on complète l'information d'un contenu textuel
uniquement lorsque le paragraphe n'est pas vide */
.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.preview-container {
  position: relative;
  height: 322px;
}

.preview-container .preview {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: auto;
  color: #412f3f;
  background-color: #f7f2ea;
  position: absolute;
  box-sizing: border-box;
  top: -350px;
  transition: top 1s ease;
}

.preview#preview-picture1 {
  height: 133px;
  width: 133px;
  left: 55px;
  z-index: 6;
}

.preview#preview-picture2 {
  height: 120px;
  width: 120px;
  left: 188px;
  z-index: 5;
}

.preview.narration {
  height: 116px;
  width: 116px;
  left: 135px;
  padding: 6px 0;
  text-align: left;
  z-index: 5;
}

.preview.music {
  height: 120px;
  width: 120px;
  line-height: 114px;
  left: 201px;
}

.preview.date {
  height: 87px;
  width: 87px;
  left: 43px;
  line-height: 87px;
  font-family: "code_boldregular";
}

.preview.sphere {
  height: 100px;
  width: 100px;
  background: url("../img/icons/amour.svg") center 13px no-repeat #f7f2ea;
  background-size: 50%;
  left: 127px;
  z-index: 5;
  line-height: 140px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "code_boldregular";
}

.preview.emotion {
  height: 75px;
  width: 75px;
  background: url("../img/icons/joie_hover.svg") center #f57e4a no-repeat;
  background-size: 50%;
  left: 176px;
  z-index: 5;
}

.preview-container .preview img {
  width: 100%;
}

/* ADD */
.code {
  padding-top: 105px;
}
.code .full-img {
  background: url("../img/fond_back.jpg") no-repeat 0 0 transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 567px;
  width: 100%;
  position: absolute;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
  padding: 5px;
  top: -2px;
  left: -2px;
}
.code .input-code {
  margin-top: 25px;
}
.code .input-code p {
  margin-bottom: 7px;
}

/* FRONT */
.front .full-img {
  background: url("http://www.noemiediaz.fr/kazoku/upload/img1.jpg") no-repeat 0 0 transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 567px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -2;
}

.front .content-text,
.front .container-blur {
  position: relative;
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 159px;
  margin-bottom: 158px;
}

.front .content-text.text-souvenir {
  height: auto;
  margin-top: 60px;
  text-align: left;
  margin-bottom: 40px;
  position: relative;
}

.front #text-souvenir {
  -webkit-filter: blur(8px);
  opacity: 1;
  filter: blur(8px);
}

.front #img-discover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.front .content-text.text-souvenir .date {
  font-size: 30px;
  margin-bottom: 45px;
  text-align: right;
  letter-spacing: 12px;
}

.front .blur {
  background-image: url("http://www.noemiediaz.fr/kazoku/upload/img1.jpg");
  background-position: center;
  height: 100%;
  background-size: 165%;
  width: 100%;
  position: absolute;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  z-index: -2;
}

.front .text {
  position: absolute;
  text-align: center;
  height: 250px;
  padding-top: 45px;
  width: 250px;
}

.front .text .uppercase {
  font-size: 18px;
  letter-spacing: 6px;
}

.front .overlay {
  background: url("../img/overlay-emotion.jpg") no-repeat 0 0 transparent;
  background-size: cover;
  height: 567px;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

.pause,
.play {
  background-color: #f7f2ea;
  font-family: "code_boldregular";
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #412f3f;
  font-size: 18px;
  text-align: center;
  margin: 50px auto auto;
  display: block;
  box-shadow: 5px 5px 0px 0px rgba(247, 242, 234, 0.5);
  z-index: 1;
}

.pause:after {
  content: '';
  background-image: url("../img/icons/play.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  display: block;
}

.play:after {
  content: '';
  background-image: url("../img/icons/pause.svg");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  display: block;
  background-position: center;
  background-size: 37%;
}

.front .pause,
.front .play {
  width: 85px;
  height: 67px;
  line-height: 67px;
  border-radius: 5px;
  padding-left: 11px;
  padding-top: 11px;
  box-shadow: 0px 5px 0px 0px rgba(247, 242, 234, 0.5);
}

.memories #audio {
  opacity: 0;
}

.play img,
.pause img {
  vertical-align: middle;
}

.front .pause:after {
  content: '';
  background-color: black;
  width: 75px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
}

.timeline {
  width: 250px;
  height: 5px;
  margin: 30px auto;
  border-radius: 15px;
  background: #412f3f;
  position: relative;
}

.playhead {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 1px;
  background: #ff6852;
  position: absolute;
  top: -3px;
}

.fin-souvenir {
  width: 283px;
  height: 440px;
  background-color: rgba(247, 242, 234, 0.5);
  margin: auto;
  padding: 26px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px #f7f2ea solid;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#fin-souvenir {
  opacity: 0;
}

.more {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.old img {
  width: 100%;
}

.jcs {
  position: relative;
  border-style: solid;
  border-radius: 100%;
  border-color: #f7f2ea;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 8px;
}

.jcs-value {
  position: absolute;
  border-style: none;
  border-radius: 100%;
  text-align: center;
  pointer-events: none;
  line-height: 4em;
  color: #f7f2ea;
  outline: none;
}

.jcs-indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  background-color: #412f3f;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}

.jcs-panel {
  position: relative;
  display: inline-block;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
}

.jcs-value img {
  border-radius: 100%;
  background: transparent;
  width: inherit;
  height: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circle-container {
  width: 150px;
  margin: 30px auto;
  position: relative;
}
.circle-container input {
  opacity: 0;
}
.circle-container .unite {
  position: absolute;
  top: 47%;
  left: 17%;
  font-size: 18px;
  color: #f7f2ea;
}

input.circle-range-select {
  display: none;
}

.circle-range-select-wrapper {
  position: relative;
  max-width: 100%;
  width: 150px;
  height: 150px;
  margin: 1em;
  padding: 1em !important;
  border-radius: 50%;
  border: 0.8em solid rgba(247, 242, 234, 0.7);
  transform: translateX(-25%);
  cursor: default;
}
.circle-range-select-wrapper .handle {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.circle-range-select-wrapper .handle:before {
  content: '';
  position: absolute;
  z-index: 3;
  top: -1em;
  left: -1.5em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #412f3f;
}
.circle-range-select-wrapper .selected-range {
  position: absolute;
  z-index: 1;
  color: #412f3f;
}
.circle-range-select-wrapper .values {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  right: 0;
  margin-top: -0.5em;
  font-size: 0.85rem;
  text-align: center;
  color: #f7f2ea;
  font-size: 45px;
  font-family: "code_boldregular";
}

.handle1:before {
  opacity: 0;
}

.values .value1 {
  display: none;
}

.intro .btn-diamond {
  margin-top: 250px;
}
.intro .btn-diamond img {
  padding-left: 7px;
  padding-top: 1px;
}
